<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PAIN MANAGER</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class = "page-header">
        <div class="banner"></div>
    </div>

    <div class="layout">
        
        <nav>
            <div class="nav-left-spacer"></div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/tutorial">Tutorial/HELP</a>
                <a href="/muscle-group">muscular system</a>
                <a href="/pain-level">Pain Level indication</a>
                <a href="/calendar">calendar</a>

            </div>
            <div class ="nav-reset">
                <div style="flex-grow: 1;"></div> <!-- pushes the next item to the right -->
            </div>
        </nav>

        <main>
            {{{body}}}
        </main>
        <footer>
            <div class="footer-content">
                <p>Not actual medical advice | For educational purposes only</p>
                <p>Developed by Jacob Stewart | CS361 Oregon State University</p>
            </div>
        </footer>
    </div>

</body>

</html>
