<h1>ARE YOU IN PAIN?</h1>
<div class="pageDescription">
    <p>THEN THIS IS THE APP FOR YOU!</p>
    <p>Select a muscle group on the muscular skeleton that is experiencing pain,</p>
    <p>to generate a list of exercises with demos to alleviate the pain.</p>
    <p>it only takes 5mins to get better.</p>
</div>

<div id="start-tutorial" class="button">
            <span class="pop-up-buttons">
                <span class="arrow arrow-left"></span>
                <form action="/muscle-group" method="GET">
                    <button type="submit">START</button>
                </form>
                <form action="/tutorial" method="GET">
                    <button type="submit">TUTORIAL</button>
                </form>
                <span class="arrow arrow-right"></span>
            </span>
    </div>