<div class="pageDescription">
    <img src="/assets/Muscles_front_and_back.svg" alt="Diagram of muscle groups" class="muscle-image">
    <h1>SELECT A MUSCLE GROUP</h1>
</div>

<div id="start-tutorial" class="button">
            <span class="pop-up-buttons">
                <form action="/pain-level" method="GET">
                    <button type="submit">NEXT</button>
                </form>
                <span class="arrow arrow-right"></span>
            </span>
    </div>