<div class="pageDescription">
    <p>1. SELECT A MUSCLE GROUP ON THE MUSCLE SYSTEM</p>
    <p>2. SELECT THE PAIN LEVEL YOU ARE EXPERIENCING WITH THE PAIN CHART</p>
    <p>3. A LIST OF EXERCISES WILL GENERATE FOR YOU TO HELP ALLEVIATE THE PAIN</p>
</div>

<div id="start-tutorial" class="button">
            <span class="pop-up-buttons">
                <form action="/muscle-group" method="GET">
                    <button type="submit">NEXT</button>
                </form>
                <span class="arrow arrow-right"></span>
            </span>
    </div>